In [1]:
import pandas as pd
import os
import shutil
import matplotlib.pyplot as plt 

pd.set_option('display.max_columns', None)  
from thesis_lib.data_processing import *
from thesis_lib.visual import *
import warnings
warnings.filterwarnings('ignore')
from datetime import timedelta

In [2]:
db = load_parquet('parquet_data')

Loading dataset:  laboratory
	 3086085
Loading dataset:  images
	 350403
Loading dataset:  hospitalizations
	 88256
Loading dataset:  surgeries
	 66750
Loading dataset:  sectors_admissions
	 154481
Loading dataset:  hospital_sectors
	 36
Formating integer columns
Formating date columns
Formating time columns

In [4]:
hospitalizations = db['hospitalizations']
hospitalizations.head()

,admission_id,patient_id,age,gender,birth_date,insurance_entity,entity_group,admission_date,admission_time,admission_year,admission_month,origin,admission_physician,admission_sector,last_sector,last_category,isolation,last_room,last_bed,discharge_date,discharge_time,discharge_year,discharge_month,discharge_reason,pre_discharge_date,first_sector,administrative_diagnosis,diagnosis_code,presumptive_dianogsis,discharge_diagnosis_code,discharge_diagnosis,date_registered_discharge,time_registered_discharge,discharge_physician,discharge_summary,discharge_summary_physician,surgery,express_hip_surgery,admission_lenght_days,responsible_sector,second_responsible_sector,emergency_admission_datetime,emergency_service,has_previous_admission,previous_admission_id,previous_admission_date,previous_discharge_date,previous_sector,previous_discharge_dianosis,discharge_ambulance,new_born_weight,new_born_gestation_age,PIM2TEP,high_risk_TEP,low_risk_TEP,ARM_TEP,CEC_TEP,request_number,request_origin,request,request_diagnosis,request_sector,notified,request_user
0,466470-1,3526141-4,79,F,1937-11-15,PAMI UGL VI,PAMI,2017-01-01,02:42:00,2017,Ene,Emergencias,VEDIA VARGAS ANICETA,EME,T16,C,None,1634,2,2017-01-04,18:17:00,2017,Ene,Alta Medica,NaT,T16,DESHIDRATACION,XX2,No Especifica Codigo,276.51,Deshidratacion,2017-01-04,16:47:41,SIMONE MILENA,True,SIMONE MILENA,False,False,3,CLINICA MEDICA,None,NaT,NaN,False,None,NaT,NaT,None,None,True,NaN,0,NaN,NaN,NaN,None,None,NaN,None,None,None,None,None,None
1,466471-4,3714597-2,74,F,1942-09-13,PAMI UGL VI,PAMI,2017-01-01,02:48:00,2017,Ene,Emergencias,VEDIA VARGAS ANICETA,EME,UC6,A,*,702,1,2017-01-07,14:03:00,2017,Ene,Alta Medica,NaT,UCO,DIF RESPIRATORIA,XX2,No Especifica Codigo,401.9,Hipertension Arterial No Especificada,2017-01-07,13:42:01,GIARROCCO AGUSTINA,True,GIARROCCO AGUSTINA,False,False,6,CARDIOLOGIA ADULTOS,None,NaT,NaN,False,None,NaT,NaT,None,None,False,NaN,0,NaN,NaN,NaN,None,None,NaN,None,None,None,None,None,None
2,466472-7,3714595-2,27,F,1989-11-08,MEDICUS,PREPAGA,2017-01-01,02:46:00,2017,Ene,Guardia,QUIROZ CARINA MAGDALENA,T10,T10,C,None,1020,1,2017-01-01,19:54:00,2017,Ene,Alta Medica,NaT,T10,ABORTO ESPONTANEO,XX2,No Especifica Codigo,634,Aborto Espontaneo,2017-01-01,19:30:56,ABADIA MICAELA,True,ABADIA MICAELA,True,False,1,OBSTETRICIA,None,NaT,NaN,False,None,NaT,NaT,None,None,False,NaN,0,NaN,NaN,NaN,None,None,NaN,None,None,None,None,None,None
3,466473-0,3672378-8,85,F,1931-08-09,OSUTHGRA O.S PERSONAL GASTRONOMICO,BRISTOL,2017-01-01,03:55:00,2017,Ene,Emergencias,VEDIA VARGAS ANICETA,EME,T12,C,None,1236,1,2017-01-04,14:58:00,2017,Ene,Alta Medica,NaT,T12,OCLUSION INTESTINAL,789.00,Dolor Abdominal Sitio Inespecificado,620.2,Otros Quistes Ovaricos Y Quister Ovaricos Neom,2017-01-04,14:25:44,CHAVEZ MORA JORGE MARIO,True,CHAVEZ MORA JORGE MARIO,False,False,3,CLINICA MEDICA,None,NaT,NaN,False,None,NaT,NaT,None,None,False,NaN,0,NaN,NaN,NaN,None,None,42736.059525,MESA OPERATIVA,DOM,OCLUSION INTESTINAL,INTERNACION GENERAL,SUP,ABLANCO
4,466474-3,3714598-2,34,F,1982-04-06,OSDE,PREPAGA,2017-01-01,05:07:00,2017,Ene,Emergencias,CANIS DIEGO DAMIAN,EME,EME,I,None,6,1,2017-01-01,09:01:00,2017,Ene,Alta Medica,NaT,EME,INTOX. ALCOHOLICA,XX2,No Especifica Codigo,94.68,Desintoxicacion Combinada De Alcohol Y Drogas,2017-01-01,09:01:03,PUENTE MOSQUERA KAROLA,True,PUENTE MOSQUERA KAROLA,False,False,1,None,None,NaT,NaN,False,None,NaT,NaT,None,None,False,NaN,0,NaN,NaN,NaN,None,None,42736.195347,ANDREA,DOMICILIO,INTOX. ALCOHOLICA,INTERNACION GENERAL,None,ABLANCO

In [6]:
for i in hospitalizations[hospitalizations['patient_id'] == '3526141-4'].index:
    print(i)

0
33624

In [7]:
a = hospitalizations.loc[33624].to_dict()

In [8]:
a

{'ARM_TEP': None,
 'CEC_TEP': None,
 'PIM2TEP': nan,
 'administrative_diagnosis': 'NEUMOPATIA',
 'admission_date': datetime.date(2018, 2, 26),
 'admission_id': '500538-7',
 'admission_lenght_days': 4,
 'admission_month': 'Feb',
 'admission_physician': 'ROJAS MARIANA GISELLE',
 'admission_sector': 'EME',
 'admission_time': datetime.time(15, 24),
 'admission_year': 2018,
 'age': 100,
 'birth_date': datetime.date(1917, 11, 15),
 'date_registered_discharge': datetime.date(2018, 3, 2),
 'diagnosis_code': '786.00',
 'discharge_ambulance': False,
 'discharge_date': datetime.date(2018, 3, 2),
 'discharge_diagnosis': 'Insuficiencia Cardiaca',
 'discharge_diagnosis_code': '428',
 'discharge_month': 'Mar',
 'discharge_physician': 'ROCCA LUCIANA',
 'discharge_reason': 'Alta Medica',
 'discharge_summary': True,
 'discharge_summary_physician': 'ROCCA LUCIANA',
 'discharge_time': datetime.time(17, 16),
 'discharge_year': 2018,
 'emergency_admission_datetime': NaT,
 'emergency_service': nan,
 'entity_group': 'PAMI',
 'express_hip_surgery': False,
 'first_sector': 'T11',
 'gender': 'F',
 'has_previous_admission': False,
 'high_risk_TEP': nan,
 'insurance_entity': 'PAMI UGL VI',
 'isolation': None,
 'last_bed': 2,
 'last_category': 'C',
 'last_room': '1104',
 'last_sector': 'T11',
 'low_risk_TEP': nan,
 'new_born_gestation_age': 0,
 'new_born_weight': nan,
 'notified': 'DR HEMINSEN',
 'origin': 'Emergencias',
 'patient_id': '3526141-4',
 'pre_discharge_date': NaT,
 'presumptive_dianogsis': 'Alteracion Respiratoria, Sin Especificar',
 'previous_admission_date': NaT,
 'previous_admission_id': None,
 'previous_discharge_date': NaT,
 'previous_discharge_dianosis': None,
 'previous_sector': None,
 'request': 'DOMICILIO',
 'request_diagnosis': 'NEUMOPATIA',
 'request_number': 43157.616099537,
 'request_origin': 'DRA AGRA',
 'request_sector': 'INTERNACION GENERAL',
 'request_user': 'JFOSTER',
 'responsible_sector': 'CLINICA MEDICA',
 'second_responsible_sector': None,
 'surgery': False,
 'time_registered_discharge': datetime.time(14, 23, 38)}

In [233]:
from datetime import datetime
class Patient:
    def __init__(self, patient_id):
        self.patient_id = patient_id

    def load_patient_data(self,db):
        df = db['hospitalizations']
        self.hospitalizations_data = df[df['patient_id'] == self.patient_id].sort_values(by='admission_date')
        
        df = db['laboratory']
        self.laboratory_data = df[df['patient_id'] == self.patient_id].sort_values(by='admission_date')
       
        df = db['images']
        self.images_data = df[df['patient_id'] == self.patient_id].sort_values(by='admission_date')
    
    @property
    def admission_history(self): 
        
        admission_key = namedtuple('admission_key', ['admission_number','admission_id'])
        
        if hasattr(self, 'hospitalizations_data'):
            return {admission_key(admission_number,admission_id) : Admission(admission_id, self) 
                   for admission_number, admission_id in enumerate(self.hospitalizations_data.admission_id)}
        
        else:
            print('Load patient data before')
    
    def get_historic_records(self):
        

        records_history = pd.DataFrame()
        
        for admission in self.admission_history:
            admission_records = self.admission_history[admission].get_admission_records()
            if records_history.empty:
                records_history = admission_records
            else:
                records_history  = records_history.append(admission_records, ignore_index=True)
        
        return records_history

In [234]:
from collections import namedtuple
class Admission():
    def __init__(self, admission_id, patient):
        self.admission_id = admission_id
        self.admission_data = patient.hospitalizations_data[
                                    patient.hospitalizations_data.admission_id == admission_id
                                                            ].to_dict(orient='records')[0]
        self.laboratory_data = patient.laboratory_data[
                                    patient.laboratory_data.admission_id == admission_id
                                                        ]
        self.images_data = patient.images_data[
                                    patient.images_data.admission_id == admission_id
                                                ]
        
    def get_admission_records(self):
        
        length_of_stay = (self.admission_data['discharge_date']-
                          self.admission_data['admission_date']).days
        
        df = pd.DataFrame(columns=['patient_id',
                                   'admission_id', 
                                   'no._of_admission',
                                   'hosp_day_number', 
                                   'date',
                                   'discharge'])
        
        
        row = {'patient_id': patient.patient_id,
                'admission_id':self.admission_id,
                'no._of_admission': [key.admission_number for key in patient.admission_history.keys() if 
                                        key.admission_id == self.admission_id][0]}
            
        for day in range(length_of_stay):
            row['date'] = self.admission_data['admission_date'] + timedelta(day)
            row['hosp_day_number'] =  day
            row['discharge'] =  (True if day == (length_of_stay -1) else False)
            
            df = df.append(row, ignore_index=True)

        return df

In [235]:
patient = Patient('3526141-4')

In [236]:
patient.load_patient_data(db)

In [237]:
patient.admission_history

{admission_key(admission_number=0, admission_id='466470-1'): <__main__.Admission at 0x11ee58be0>,
 admission_key(admission_number=1, admission_id='500538-7'): <__main__.Admission at 0x11ee58d30>}

In [238]:
patient.get_historic_records()

,patient_id,admission_id,no._of_admission,hosp_day_number,date,discharge
0,3526141-4,466470-1,0,0,2017-01-01,False
1,3526141-4,466470-1,0,1,2017-01-02,False
2,3526141-4,466470-1,0,2,2017-01-03,True
3,3526141-4,500538-7,1,0,2018-02-26,False
4,3526141-4,500538-7,1,1,2018-02-27,False
5,3526141-4,500538-7,1,2,2018-02-28,False
6,3526141-4,500538-7,1,3,2018-03-01,True

In [206]:
patient.admission_history[(0,'466470-1')].get_admission_records()

,patient_id,admission_id,no._of_admission,hosp_day_number,date,discharge
0,3526141-4,466470-1,0,0,2017-01-01,False
1,3526141-4,466470-1,0,1,2017-01-02,False
2,3526141-4,466470-1,0,2,2017-01-03,True

In [183]:
patient.admission_history.get_admission_records()

AttributeError: 'dict' object has no attribute 'get_admission_records'

In [62]:
patient.hospitalizations_data[patient.hospitalizations_data.admission_id == '466470-1']

,admission_id,patient_id,age,gender,birth_date,insurance_entity,entity_group,admission_date,admission_time,admission_year,admission_month,origin,admission_physician,admission_sector,last_sector,last_category,isolation,last_room,last_bed,discharge_date,discharge_time,discharge_year,discharge_month,discharge_reason,pre_discharge_date,first_sector,administrative_diagnosis,diagnosis_code,presumptive_dianogsis,discharge_diagnosis_code,discharge_diagnosis,date_registered_discharge,time_registered_discharge,discharge_physician,discharge_summary,discharge_summary_physician,surgery,express_hip_surgery,admission_lenght_days,responsible_sector,second_responsible_sector,emergency_admission_datetime,emergency_service,has_previous_admission,previous_admission_id,previous_admission_date,previous_discharge_date,previous_sector,previous_discharge_dianosis,discharge_ambulance,new_born_weight,new_born_gestation_age,PIM2TEP,high_risk_TEP,low_risk_TEP,ARM_TEP,CEC_TEP,request_number,request_origin,request,request_diagnosis,request_sector,notified,request_user
0,466470-1,3526141-4,79,F,1937-11-15,PAMI UGL VI,PAMI,2017-01-01,02:42:00,2017,Ene,Emergencias,VEDIA VARGAS ANICETA,EME,T16,C,None,1634,2,2017-01-04,18:17:00,2017,Ene,Alta Medica,NaT,T16,DESHIDRATACION,XX2,No Especifica Codigo,276.51,Deshidratacion,2017-01-04,16:47:41,SIMONE MILENA,True,SIMONE MILENA,False,False,3,CLINICA MEDICA,None,NaT,NaN,False,None,NaT,NaT,None,None,True,NaN,0,NaN,NaN,NaN,None,None,NaN,None,None,None,None,None,None

In [19]:
patient.laboratory_data.head(2)

,labo_id,labo_pun,status,labo_date,labo_time,labo_year-month,sector,admission_id,patient_id,admission_date,discharge_date,entity_id,insurance_entity,entity_affiliate_id,entity_group,emergency,requester_name,requester_role,study_code,study_description,no_of_studies
12,35455099,35454875,3,2017-01-01,03:34:00,2017-Ene,EME,466470-1,3526141-4,2017-01-01,2017-01-04,876,PAMI UGL VI,13053141730900,PAMI,1,VEDIA ANICETA,MEDICO DE PISO,171,COAGULOGRAMA BASICO,1
2077,35474987,35474763,3,2017-01-03,13:55:00,2017-Ene,T16,466470-1,3526141-4,2017-01-01,2017-01-04,876,PAMI UGL VI,13053141730900,PAMI,0,BRUTOMESO MARIA LAURA,MEDICO RESIDENTE,2192,CREATININA EN SANGRE,1

In [18]:
patient.images_data.head(2)

,image_id,image_pun,status,image_date,image_time,image_year-month,sector,admission_id,patient_id,admission_date,discharge_date,entity_id,insurance_entity,entity_group,emergency,type_of_service,requester_name,requester_role,study_code,study_description,no_of_studies
1,35455101,35454877,3,2017-01-01,03:34:00,2017-Ene,EME,466470-1,3526141-4,2017-01-01,2017-01-04,876,PAMI UGL VI,PAMI,1,RAYOS,VEDIA ANICETA,MEDICO DE PISO,34090503,RX C/PORTATIL DE TORAX,1
90,35458185,35457961,3,2017-01-02,02:31:00,2017-Ene,T16,466470-1,3526141-4,2017-01-01,2017-01-04,876,PAMI UGL VI,PAMI,1,RAYOS,GAGLIARDONE LORENA DAIANA,MEDICO DE PISO,34021307,"RODILLA, RX DE - (2 EXPOSICIONES x PLACA)",1

In [21]:
patient.hospitalizations_data[ patient.hospitalizations_data['admission_id'] == '466470-1']

,admission_id,patient_id,age,gender,birth_date,insurance_entity,entity_group,admission_date,admission_time,admission_year,admission_month,origin,admission_physician,admission_sector,last_sector,last_category,isolation,last_room,last_bed,discharge_date,discharge_time,discharge_year,discharge_month,discharge_reason,pre_discharge_date,first_sector,administrative_diagnosis,diagnosis_code,presumptive_dianogsis,discharge_diagnosis_code,discharge_diagnosis,date_registered_discharge,time_registered_discharge,discharge_physician,discharge_summary,discharge_summary_physician,surgery,express_hip_surgery,admission_lenght_days,responsible_sector,second_responsible_sector,emergency_admission_datetime,emergency_service,has_previous_admission,previous_admission_id,previous_admission_date,previous_discharge_date,previous_sector,previous_discharge_dianosis,discharge_ambulance,new_born_weight,new_born_gestation_age,PIM2TEP,high_risk_TEP,low_risk_TEP,ARM_TEP,CEC_TEP,request_number,request_origin,request,request_diagnosis,request_sector,notified,request_user
0,466470-1,3526141-4,79,F,1937-11-15,PAMI UGL VI,PAMI,2017-01-01,02:42:00,2017,Ene,Emergencias,VEDIA VARGAS ANICETA,EME,T16,C,None,1634,2,2017-01-04,18:17:00,2017,Ene,Alta Medica,NaT,T16,DESHIDRATACION,XX2,No Especifica Codigo,276.51,Deshidratacion,2017-01-04,16:47:41,SIMONE MILENA,True,SIMONE MILENA,False,False,3,CLINICA MEDICA,None,NaT,NaN,False,None,NaT,NaT,None,None,True,NaN,0,NaN,NaN,NaN,None,None,NaN,None,None,None,None,None,None

In [22]:
patient.hospitalizations_data.admission_id

0        466470-1
33624    500538-7
Name: admission_id, dtype: object

In [23]:
patient.hospitalizations_data.admission_date

0        2017-01-01
33624    2018-02-26
Name: admission_date, dtype: object

{'466470-1': datetime.date(2018, 2, 26),
 '500538-7': datetime.date(2018, 2, 26)}

In [110]:

        
    @property       
    def gender(self):
        try:
            rv = self.hospitalizations_data['gender'].unique()[0]
        except:
            print('Load patient data before! ')
        
        return rv
            
    @property
    def insurance(self):
        try:
            rv = self.hospitalizations_data['insurance_entity'].unique()[0]
        except:
            print('Load patient data before!')
            
        return rv
    
    @property
    def birth_date(self):
        try: 
            rv = datetime.strptime(self.hospitalizations_data['birth_date'].unique()[0],
                                            '%Y-%m-%d')
        except:
            print('Load patient data before!')
            
        return rv
        
    def get_demographics(self):
        self.demographics = {'gender': self.gender ,
                             'insurance': self.insurance ,
                             'birth_date': self.birth_date}
        
        return self.demographics
        
        
    def get_admissions(self):
        
        if not hasattr(self, 'hospitalizations_data'):
            print('Load patient\'s hospitalizations_data before! ')
            
        self.admissions = {} 
        
        for i,admission_id in enumerate(self.hospitalizations_data['admission_id']):
            
            admission_data = self.hospitalizations_data[(self.hospitalizations_data['admission_id'] == 
                                                         admission_id)].to_dict('list')
            
            admission_data['n_admission'] = i
            
            admission =  Admission(admission_data)
            
            self.admissions[str(admission._admission_id)] = admission
            
    def admission_history(self, admission_id):
        
        admission = self.admissions[admission_id]
        
        length_of_stay = (admission._discharge_date-admission._admission_date).days
        
        df = pd.DataFrame(columns=['patient_id',
                                   'admission_id', 
                                   'no._of_admission',
                                   'hosp_day_number', 
                                   'date',
                                   'discharge',
                                   'no._of_labo'])
        
        for day in range(length_of_stay):
            row = {'patient_id': self.patient_id,
                   'admission_id': admission._admission_id,
                   'no._of_admission': admission._patient_n_admission,
                   'no._of_labo': 
                   'date': admission._admission_date + timedelta(day),
                   'hosp_day_number': day, 
                   'discharge': (True if day == (length_of_stay -1) else False)
                   
            }
            df = df.append(row, ignore_index=True)
            #pd.concat([df,row], ignore_index=True)
            
        return df

In [111]:
class Admission(Patient):
    def __init__(self, admission_data):
        
        self._admission_id = admission_data['admission_id'][0]
        self._admission_date = datetime.strptime(admission_data['admission_date'][0],
                                                 '%Y-%m-%d')
        self._admission_hour =  admission_data['admission_time'][0]
        self._patient_n_admission = admission_data['n_admission']
        
        self._admission_source = admission_data['Procedencia'][0]
        self._admission_physician = admission_data['admission_physician'][0]
        self._admission_sector = admission_data['SecAdmisin'][0]
        
        
        self._discharge_date = datetime.strptime(admission_data['discharge_date'][0],'%Y-%m-%d')
        self._discharge_hour = admission_data['discharge_time'][0]
        self._discarge_reason = admission_data['Motivo Alta'][0]
        self._pre_discharge_date = admission_data['PreAlta'][0]
        self._discharge_physician = admission_data['Mdico Denuncia Egreso'][0]
        
        self._diagnosis = {'administrative_diagnosis_uncod': admission_data['Diagnstico Administrativo No Codificado'][0],
                           'presumptive_diagnosis_cod': admission_data['CodDiagPresu'][0], 
                           'presumptive_diagnosis_uncod': admission_data['Diagnstico Presuntivo'][0], 
                           'discharge_diagnosis_cod': admission_data['CodCieDiagEgr'][0], 
                           'discharge_diagnosis_uncod': admission_data['Diagnstico Egreso'][0],
                           'high_risk_TEP_diagnosis': admission_data['DiagAltoRiesgoTEP'][0],
                           'low_risk_TEP_diagnosis': admission_data['DiagBajoRiesgoTEP'][0]}
        
        self._surgery = admission_data['Quirurg'][0] == 'S'
        self._hips_surgery = admission_data['CaderaExpress'][0] == 'S'
        self._is_1st_admission = admission_data['Reingreso'][0] == 'No'
        
        self._admission_data = admission_data

In [112]:
paciente = Patient('3526141-4')

In [113]:
paciente.load_patient_data('hospitalizations',internaciones)

In [114]:
paciente.hospitalizations_data

,Nro Adm,Nro H.C.,Edad,Sexo,Fec Nac,Entidad,AgrupEntidad,Fec Adm,Hora Adm,AoAdm,MesAdm,Procedencia,Mdico Admisin,SecAdmisin,SecUltimo,CategUlt,Aislacin,HabitUlt,CamaUlt,Fec Alta,Hora Alta,AoAlta,MesAlta,Motivo Alta,PreAlta,1erSecInt,Diagnstico Administrativo No Codificado,CodDiagPresu,Diagnstico Presuntivo,CodCieDiagEgr,Diagnstico Egreso,FecDenunEgre,HoraDenunEgre,Mdico Denuncia Egreso,Epicrisis,MdicoEpicrisis,Quirurg,CaderaExpress,Permanencia,Servicio Responsable,Servicio Co-Responsable,FecHorIngGua,Prest.Guardia,Prestac.Guardia,Reingreso,AdmAntReciente,FecAdmAntReciente,FecAltaAntReciente,SecAntReciente,Diagn. Egreso Admisin Anterior Reciente,AmbulanciaEgreso,PesoAlNacer,EdadGestac,PIM2TEP,DiagAltoRiesgoTEP,DiagBajoRiesgoTEP,ARM_TEP,CEC_TEP,SolicDerivacin,OrigDerivacin,Procedencia.1,DiagnsticoDerivacin,AreaDerivacin,Notificado,UsuarioDeriv
0,466470-1,3526141-4,79,F,1937-11-15,PAMI UGL VI,PAMI,2017-01-01,02:42:00,2017,Ene,Emergencias,VEDIA VARGAS ANICETA,EME,T16,C,NaN,1634,2,2017-01-04,18:17:00,2017.0,Ene,Alta Medica,NaN,T16,DESHIDRATACION,XX2,No Especifica Codigo,276.51,Deshidratacion,2017-01-04,16:47:41,SIMONE MILENA,S,SIMONE MILENA,No,No,3,CLINICA MEDICA,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,S,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33624,500538-7,3526141-4,100,F,1917-11-15,PAMI UGL VI,PAMI,2018-02-26,15:24:00,2018,Feb,Emergencias,ROJAS MARIANA GISELLE,EME,T11,C,NaN,1104,2,2018-03-02,17:16:00,2018.0,Mar,Alta Medica,NaN,T11,NEUMOPATIA,786.00,"Alteracion Respiratoria, Sin Especificar",428,Insuficiencia Cardiaca,2018-03-02,14:23:38,ROCCA LUCIANA,S,ROCCA LUCIANA,No,No,4,CLINICA MEDICA,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43157.6161,DRA AGRA,DOMICILIO,NEUMOPATIA,INTERNACION GENERAL,DR HEMINSEN,JFOSTER

In [115]:
paciente.get_demographics()

{'birth_date': datetime.datetime(1937, 11, 15, 0, 0),
 'gender': 'F',
 'insurance': 'PAMI UGL VI'}

In [116]:
paciente.demographics

{'birth_date': datetime.datetime(1937, 11, 15, 0, 0),
 'gender': 'F',
 'insurance': 'PAMI UGL VI'}

In [117]:
paciente.get_admissions()

In [118]:
paciente.admissions

{'466470-1': <__main__.Admission at 0x1182fd668>,
 '500538-7': <__main__.Admission at 0x117ff4ba8>}

In [119]:
paciente.admissions['466470-1']._admission_date

datetime.datetime(2017, 1, 1, 0, 0)

In [120]:
paciente.admissions['500538-7']._admission_date

datetime.datetime(2018, 2, 26, 0, 0)

In [121]:
paciente.admissions['466470-1']._admission_date

datetime.datetime(2017, 1, 1, 0, 0)

In [122]:
paciente.admissions['466470-1']._admission_date + timedelta(1)

datetime.datetime(2017, 1, 2, 0, 0)

In [123]:
paciente.admission_history('466470-1')

,patient_id,admission_id,no._of_admission,hosp_day_number,date,discharge
0,3526141-4,466470-1,0,0,2017-01-01,False
1,3526141-4,466470-1,0,1,2017-01-02,False
2,3526141-4,466470-1,0,2,2017-01-03,True

In [127]:
paciente.admission_history('500538-7')

,patient_id,admission_id,no._of_admission,hosp_day_number,date,discharge
0,3526141-4,500538-7,1,0,2018-02-26,False
1,3526141-4,500538-7,1,1,2018-02-27,False
2,3526141-4,500538-7,1,2,2018-02-28,False
3,3526141-4,500538-7,1,3,2018-03-01,True

In [125]:
paciente.load_patient_data('laboratory',db['labos'])

In [133]:
paciente.laboratory_data.groupby('Fecha').count()

,Nro Vale,Pun,Estado,Hora,HH,AoMes,Sector,Nro Adm,HistCln,Nombre Paciente,Fec.Adm.,Fec.Alta,Entidad,Nombre Entidad,Nro.Afiliado,GrupoEnt,Urgencia,Mnemo Serv,Servicio,Cod Serv,Nombre del Solicitante,Funcin del Solicitante,Prestacin,Descrip Prestacin,CantPrest,Cod Insumo,Descrip Insumo,CantInsumos,EstadoResultado,Observ.Estudio
Fecha,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
01/01/2017,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,0,0,0,0,0
02/01/2017,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17,0,0,0,0,0
03/01/2017,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,0,0,0,0,0
26/02/2018,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,19,0,0,0,0,0
27/02/2018,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,0,0,0,0,0

In [95]:
(paciente.admissions['466470-1']._discharge_date-paciente.admissions['466470-1']._admission_date).days

3

In [31]:
for admission_id in paciente.admissions:
    print(paciente.admissions[admission_id]._admission_hour)

02:42:00
15:24:00